<?xml version="1.0" encoding="utf-8"?>
<manifest package="k.demo.asys"
          xmlns:android="http://schemas.android.com/apk/res/android">
   <!-- <uses-permission android:name="android.permission.SET_TIME"/>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="asys"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".activity.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>