<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="k.share">


    <application
        android:name=".KApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="opt"
        android:supportsRtl="true"
        android:theme="@style/KTheme">
        <service android:name=".monitor.memory.LeakCanaryService" />
        <service android:name=".anr.ServiceTimeout"/>
        <activity android:name=".anr.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>